$color-background :  #fff;
$color-font : #000;
$color-border : lightgray;
$border : 1px solid $color-border;

$breakpoint-lg : 1920px;
$breakpoint-md : 1280px;
$breakpoint-sm : 768px;
$breakpoint-mn : 375px;